.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.todo-list-control-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.check-icon--done {
  color: lightgreen;
}

.check-icon--notdone {
  color: lightsalmon;
}

.circle-icon {
  margin: 5px;
}

.circle-icon:hover {
  color: lightgray;
}

.done-item,
.notdone-item {
  display: flex;
  justify-content: space-between;
}

.done-item > .icon:hover,
.notdone-item > .icon:hover {
  border: 1px solid lightskyblue;
}

.done-item-text {
  text-decoration: line-through;
}
